<p class="products"><%= @country.country_name %></p>

<% @tours.each do |tour| %>
	<a href="/tour/<%= tour.id %>" id="tourlink"><%= tour.tour_name %></a>
<% end %><br>
<% @tours.each do |tour| %>
		<a href="/tour/<%= tour.id %>"><img src="<%= tour.images.first.url %>" id="tourimage" height="300" width="356"></a>
<% end %>
